@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tajawal;
    text-decoration: none !important;
    list-style: none !important;
}

:root{
--white-color: #FFFFFF;
--black-color: #060606;
--purple-color: #43425D;
--dark-black-color: #000000;
--grey-color: #989898;
--btn-back:#E1E6EB;
--dark-grey-color:#505050;
--box-shadow: 0px 0px 20px #75757526;
--body-main-color: #F5F7F9;
}

body{
    background-color: var(--white-color);
    direction: rtl;
}
section.login-dashboard ,
section.login-beneficiary{
    width: 100%;
    height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.select-user h1.logo{
    color: var(--dark-grey-color);
    font-size: 5rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
}
.select-user .kind-user a.btn{
    font-size: 24px;
    font-weight: 500;
    background-color: var(--btn-back);
    color: var(--dark-black-color);
    border: none;
    padding: 1rem 4rem;
    border-radius: 35px;
    transition: .3s;
}
.select-user .kind-user a.btn:hover{
    background-color: var(--dark-black-color);
    color: var(--white-color);
}

.select-user{
  width: 90%;
  height: 90vh;
  border-radius: 44px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*==========================================================*/
.login-beneficiary h2.logo{
  color: var(--dark-grey-color);
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
}
.login-beneficiary .container{
  width: 90%;
  height: 90vh;
  border-radius: 44px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  margin: 2rem 0;
}
.login-beneficiary .container .row{
  width: 95%;
}
.login-beneficiary .details .registration {
  color: var(--grey-color);
  font-size: 20px;
}
.login-beneficiary .details .registration a{
  color: var(--dark-grey-color);
  font-size: 20px;
}
.login-beneficiary .all{
  margin: 2rem 0;
}
.login-beneficiary .all label{
font-size: 20px;
color: var(--dark-black-color);
}
.login-beneficiary .input-group{
  width: 80%;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.login-beneficiary a.btn{
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: .6rem 3.5rem;
  border-radius: 35px;
  transition: .3s;
  background-color: var(--dark-black-color);
  color: var(--white-color);
  margin: 1rem 0 0 0 ;
}
.login-beneficiary a.btn:hover{
  background-color: var(--btn-back);
  color: var(--dark-black-color);
}
.profile-photo {
  width: 350px;
  height: 450px;
  border-radius: 29px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--p-color);
  margin-bottom: 2rem;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 29px;
}

.profile-photo input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border-radius: 29px;
}
/*==================================*/
.sign-up{
  display: flex;
  justify-content: center;
}
.sign-up .container{
  width: 90%;
  border-radius: 44px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  margin: 3rem 0;
}
.sign-up .container .row{
  width: 95%;
}
.sign-up h2.logo{
  color: var(--dark-grey-color);
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 1rem;
}
.sign-up .all{
  margin: 1rem 0;
}
.sign-up .all label{
font-size: 20px;
color: var(--dark-black-color);
}
.sign-up .input-group{
  width: 80%;
}
.sign-up a.btn{
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: .6rem 3.5rem;
  border-radius: 35px;
  transition: .3s;
  background-color: var(--dark-black-color);
  color: var(--white-color);
  margin: 1rem 0 0 0 ;
}
.sign-up a.btn:hover{
  background-color: var(--btn-back);
  color: var(--dark-black-color);
}
.sign-up .details .registration {
  color: var(--grey-color);
  font-size: 20px;
  margin: .5rem 0 2rem 0;
}
.sign-up .details .registration a{
  color: var(--dark-grey-color);
  font-size: 20px;
}
/*==============================================================*/
body.dashboard{
  background-color: var(--body-main-color);
}
nav{
  background-color: var(--white-color);
  box-shadow: 0px 2px 6px #0000000A;
  position: fixed !important;
  top: 0;left: 0;
  z-index: 999;
  width: 100%;
}

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-grey-color);
}
.navbar form{
  width: 35%;
}
.navbar form input{
  border: none;
  border-radius: 24px;
  background-color: var(--btn-back);
  color: var(--dark-grey-color);
  font-size: 18px;
  font-weight: 500;
  margin: 0 1rem;
  transition: .3s;
}
.navbar form.form-control{
  border: none;
  border-radius: 24px;
  background-color: var(--btn-back);
  color: var(--dark-grey-color);
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
  margin-right: 6rem;
}
.form-control:focus {
  border-color: none;
  box-shadow: unset;
}
.icons i{
  font-size: 1.4rem;
  color: var(--grey-color);
  cursor: pointer;
}
/*==============================================================*/
section.main {
  margin: 4.6rem 0 0 0 ;
}
.container-fluid {
  padding-right: unset !important;
}
section.main .controls{
  background-color: var(--white-color);
  box-shadow: 0px 2px 0px #0000000A;
  z-index: 2;
  width: 100% !important;
  height: 89.7vh;
}
section.main .controls .nav{
  z-index: 2;
  width: 100%;
}
section.main .controls .nav button{
  border: none;
  border-radius: 0 !important;
  color: var(--dark-grey-color);
  font-size: 18px;
  font-weight: 500;
  padding: .5rem 2rem;
  transition: .3s;
  text-align: right;

}
section.main .controls .nav button i{
  margin-left: .7rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--black-color);
  background-color: var(--body-main-color);
  border-right: 10px solid var(--dark-black-color) !important;
  /* padding: 0.5rem 6.6rem; */
}

.main .tab-content {
  margin: 2rem 3rem 0 3rem !important;
}
.main .tab-content .static-title{
  align-items: center;
  margin-bottom: 1.5rem;
}
.main .tab-content .static-title h3{
  font-size: 24px;
  font-weight: bold;
  color: var(--dark-grey-color);
}
.main .tab-content .static-title .img{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 29px;
  background-color: var(--btn-back);
}
.main .tab-content .static-title .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 29px;
}
.main .tab-content .report{
  /* margin: 2rem 0; */
  background-color: var(--white-color);
  box-shadow: 0px 2px 6px #0000000A;
  padding: 1rem;
}
.main .tab-content .report .report-header h4{
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-grey-color);
}
.main .tab-content .report .report-header .form-select{
  width: 10%;
}
.main .tab-content .all-for-table,
.main .tab-content .all-for-details{
  background-color: var(--white-color);
  padding: 1rem;
  box-shadow: 0px 2px 6px #0000000A;
}
.main .tab-content  .header ,
.main .tab-content  .header{
  font-size: 18px;
  color: var(--dark-grey-color);
  font-weight: bold;
  margin-bottom: 1rem;
}
.main .tab-content   p{
  font-size: 18px;
  color: var(--grey-color);
  font-weight: 500;
  margin-bottom: 1rem;
}
.table {
  vertical-align: middle !important;
  text-align: center;
}
.table>:not(caption)>*>* {
  border-bottom-width: 0px;
  padding: .7rem 0.5rem;
}
.table thead{
  background-color: var(--body-main-color);
}
.table thead tr th{
  color: var(--dark-grey-color);
  font-size: 20px;
}
.table tbody tr td{
  color: var(--grey-color);
  font-size: 18px;
}

.main .tab-content .all-for-details .assoc-names{
  margin-top: 1rem;
}
.main .tab-content .all-for-details .assoc-names li{
  margin: .7rem 0;
  color: var(--grey-color);
}

.box-services2{
  display: none !important;
  border: none !important;
  /* display: flex !important; */
  display: none;
}
  .box-services2 .btn-content{
  background-color: var(--white-color) !important;
  border: none;outline: none;
  border-radius: 29px;
}
  .box-services2 .btn-content h3{
  font-size: 24px;
  font-weight: bold;
  color: var(--dark-grey-color);
}
  .box-services2 .btn-content i{
  font-size: 32px;
  font-weight: bold;
  color: var(--dark-grey-color);
}
  .box-services2 .nav{
  height: 200px;
  overflow: auto;
  flex-direction: column !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap;
}
  .box-services2 .nav button{
  margin: 0px 0 !important;
  color: var(--dark-grey-color);
  gap: 1rem;
}

/*=======================================*/

/*media query*/

@media (max-width: 768px){

.login-beneficiary .input-group{
  width: unset !important;
}

.login-beneficiary .container .row{
  width: unset !important;
  margin: 3rem 0;
}
.login-beneficiary .container{
  width: 90%;
  height: auto;
}
.profile-photo {
  height: 330px;
  width: 300px;
  margin-bottom: 1rem;
}
.navbar-brand {
  font-size: 1.5rem;
}
.navbar form.form-control{
  width: 100%;
    margin:1rem 0 1rem 0;
  }
  .main .tab-content {
    margin: 2rem 1rem 0 0rem !important;
}

.tab-content{
  margin-top: 30px;
}
.container .heading p{
  width: 100% !important;
}
.controls{
  display: none !important;
}
.box-services2 {
  display: flex !important;
  margin: 30px 0.4rem 30px 30px;
}
.box-services2 button{
  padding: 15px;
}
.nav-pills .nav-link{
  display: flex;
  flex-direction: row;
}
.container .nav-link .img-cont {
  padding: 10px 10px;
}



}






@media (max-width: 425px){
  .select-user h1.logo{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.select-user .kind-user a.btn{
  font-size: 24px;
  padding: 1rem 2.5rem;
}
.login-beneficiary h2.logo {
  font-size: 3rem;
  margin-top: 3rem;
}
  .login-beneficiary .container{
    width: 90%;
    height: auto !important;
    /* margin: 3rem 0; */
  }
  .login-beneficiary .container .row{
    width: 100%;
    margin: 3rem 0;
  }
  .login-beneficiary .all{
    margin: 1rem 0;
  }
  .login-beneficiary .input-group {
    width: 100%;
}
  .profile-photo {
    height: 335px;
    margin-bottom: 1rem;
}
.for-photo{
  justify-content: center !important;
}
.sign-up .input-group{
  width: 100%;
}
.navbar form.form-control{
width: 100%;
  margin:1rem 0 1rem 0;
}
section.login-dashboard ,
section.login-beneficiary{
    height: auto !important;
}
}