@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: tajawal;
    text-decoration: none !important;
    list-style: none !important;
}

:root{
--white-color: #FFFFFF;
--black-color: #060606;
--purple-color: #43425D;
--dark-black-color: #000000;
--grey-color: #989898;
--btn-back:#E1E6EB;
--dark-grey-color:#505050;
--box-shadow: 0px 0px 20px #75757526;
--body-main-color: #F5F7F9;
}

body{
    background-color: var(--white-color);
    direction: rtl;
}
section.login-dashboard ,
section.login-beneficiary{
    width: 100%;
    height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.select-user h1.logo{
    color: var(--dark-grey-color);
    font-size: 5rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
}
.select-user .kind-user a.btn{
    font-size: 24px;
    font-weight: 500;
    background-color: var(--btn-back);
    color: var(--dark-black-color);
    border: none;
    padding: 1rem 4rem;
    border-radius: 35px;
    transition: .3s;
}
.select-user .kind-user a.btn:hover{
    background-color: var(--dark-black-color);
    color: var(--white-color);
}

.select-user{
  width: 90%;
  height: 90vh;
  border-radius: 44px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*==========================================================*/
.login-beneficiary h2.logo{
  color: var(--dark-grey-color);
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
}
.login-beneficiary .container{
  width: 90%;
  height: 90vh;
  border-radius: 44px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  margin: 2rem 0;
}
.login-beneficiary .container .row{
  width: 95%;
}
.login-beneficiary .details .registration {
  color: var(--grey-color);
  font-size: 20px;
}
.login-beneficiary .details .registration a{
  color: var(--dark-grey-color);
  font-size: 20px;
}
.login-beneficiary .all{
  margin: 2rem 0;
}
.login-beneficiary .all label{
font-size: 20px;
color: var(--dark-black-color);
}
.login-beneficiary .input-group{
  width: 80%;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.login-beneficiary a.btn{
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: .6rem 3.5rem;
  border-radius: 35px;
  transition: .3s;
  background-color: var(--dark-black-color);
  color: var(--white-color);
  margin: 1rem 0 0 0 ;
}
.login-beneficiary a.btn:hover{
  background-color: var(--btn-back);
  color: var(--dark-black-color);
}
.profile-photo {
  width: 350px;
  height: 450px;
  border-radius: 29px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--p-color);
  margin-bottom: 2rem;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 29px;
}

.profile-photo input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border-radius: 29px;
}
/*==================================*/
.sign-up{
  display: flex;
  justify-content: center;
}
.sign-up .container{
  width: 90%;
  border-radius: 44px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  margin: 3rem 0;
}
.sign-up .container .row{
  width: 95%;
}
.sign-up h2.logo{
  color: var(--dark-grey-color);
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 1rem;
}
.sign-up .all{
  margin: 1rem 0;
}
.sign-up .all label{
font-size: 20px;
color: var(--dark-black-color);
}
.sign-up .input-group{
  width: 80%;
}
.sign-up a.btn{
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: .6rem 3.5rem;
  border-radius: 35px;
  transition: .3s;
  background-color: var(--dark-black-color);
  color: var(--white-color);
  margin: 1rem 0 0 0 ;
}
.sign-up a.btn:hover{
  background-color: var(--btn-back);
  color: var(--dark-black-color);
}
.sign-up .details .registration {
  color: var(--grey-color);
  font-size: 20px;
  margin: .5rem 0 2rem 0;
}
.sign-up .details .registration a{
  color: var(--dark-grey-color);
  font-size: 20px;
}
/*==============================================================*/
body.dashboard{
  background-color: var(--body-main-color);
}
nav{
  background-color: var(--white-color);
  box-shadow: 0px 2px 6px #0000000A;
}
nav.navbar .container-fluid{
  margin: 0 4rem;
}
.navbar-toggler {
  width: 60px;
  height: 40px;
  border: none !important;
  transition: .3s;
}
.navbar .fa-bars{
  width: 100%;
  height: 100%;
  font-size: 32px !important;
  transition: .3s;
}
.navbar .fa-bars{
  transition: .3s;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 ;
}
.navbar-brand{
  margin-right: 0 !important;
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-grey-color);
}
.navbar .all-cont form{
  width: 35%;
}
.navbar .all-cont form input{
  border: none;
  border-radius: 24px;
  background-color: var(--btn-back);
  color: var(--dark-grey-color);
  font-size: 18px;
  font-weight: 500;
  margin: 0 1rem;
  transition: .3s;
}
.navbar .all-cont form.form-control{
  border: none;
  border-radius: 24px;
  background-color: var(--btn-back);
  color: var(--dark-grey-color);
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
  margin-right: 14rem;
}
.form-control:focus {
  border-color: none;
  box-shadow: unset;
}
.icons i{
  font-size: 1.4rem;
  color: var(--grey-color);
  cursor: pointer;
}
/*==============================================================*/
/* section.main {
  margin: 4.6rem 0 0 0 ;
} */
.container-fluid {
  padding-right: unset !important;
}
section.main .controls{
  background-color: var(--white-color);
  box-shadow: 0px 2px 0px #0000000A;
  z-index: 2;
  width: 100% !important;
  height: 100%;
  min-height: calc(100vh - 74px);
}
section.main .controls .nav{
  z-index: 2;
  width: 100%;
}
section.main .controls .nav a {
  border: none;
  border-radius: 0 !important;
  color: var(--dark-grey-color);
  font-size: 22px;
  font-weight: 500;
  /* padding: 0.6rem 1rem 0.6rem 0; */
  transition: .3s;
  text-align: right;
  margin: 0rem 0 0.6rem 0;
}
section.main .controls .nav a i{
  margin-left: .7rem;
}
.controls .nav-pills .nav-link.active,.controls .nav-pills .show>.nav-link {
  color: var(--black-color);
  background-color: var(--body-main-color);
  border-right: 10px solid var(--dark-black-color) !important;
  /* padding: 0.5rem 6.6rem; */
}

.main .content ,
.content {
  margin: 1rem 2rem 0 2rem !important;
}
.main .content .static-title ,
 .content .header{
  align-items: center;
  margin-bottom: 1.5rem;
}
.main .content .static-title h3{
  font-size: 24px;
  font-weight: bold;
  color: var(--dark-grey-color);
}
.main .content .static-title .img ,
.content .header .img{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .8rem;
  object-fit: cover;
  border-radius: 29px;
  background-color: var(--btn-back);
}
.dropdown-toggle::after {
  position: absolute;
  left: .1rem;
  top: 50%;
  content: "";
  border-top: 0.4em solid var(--dark-grey-color);
  border-right: 0.4em solid transparent;
  border-bottom: 0 var(--dark-grey-color);
  border-left: 0.4em solid transparent;
}
.dropdown .btn-files{
  background-color: transparent;
  border: none;
}
.dropdown .btn-files:active{
  background-color: transparent;
  border: none;
}
.dropdown .btn-files:hover{
  background-color: transparent;
  border: none;
}
.dropdown .dropdown-menu button{
  position: relative;
}
.dropdown .dropdown-menu button input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  border-radius: 29px;
}
.main .content .static-title .img img ,
 .content .header .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 29px;
}
.main .content .report{
  /* margin: 2rem 0; */
  background-color: var(--white-color);
  box-shadow: 0px 2px 6px #0000000A;
  padding: 1rem;
}
.main .content .report .report-header h4{
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-grey-color);
}
.main .content .report .report-header .form-select{
  width: 10%;
}
.main .content .all-for-table,
.main .content .all-for-details{
  background-color: var(--white-color);
  padding: 1rem;
  height: 100%;
  box-shadow: 0px 2px 6px #0000000A;
}
.main .content  .header ,
.main .content  .header{
  font-size: 18px;
  color: var(--dark-grey-color);
  font-weight: bold;
  margin-bottom: 1rem;
}
.main .content   p{
  font-size: 18px;
  color: var(--grey-color);
  font-weight: 500;
  margin-bottom: 1rem;
}
.table {
  vertical-align: middle !important;
  text-align: center;
}
.table>:not(caption)>*>* {
  border-bottom-width: 0px;
  padding: .7rem 0.5rem;
}
.table thead{
  background-color: var(--body-main-color);
}
.table thead tr th{
  color: var(--dark-grey-color);
  font-size: 20px;
}
.table tbody tr td{
  color: var(--grey-color);
  font-size: 18px;
}

.main .all-for-details .assoc-names{
  margin-top: 1rem;
}
.main .all-for-details .assoc-names li{
  margin: .7rem 0;
  color: var(--grey-color);
}

.main .nav-search .content form{
  width: 100%;
  display: none !important;
}
.content form input{
  border: none;
  border-radius: 24px;
  background-color: var(--btn-back);
  color: var(--dark-grey-color);
  font-size: 18px;
  font-weight: 500;
  margin: 0 1rem;
  transition: .3s;
}
.content form.form-control{
  border: none;
  border-radius: 24px;
  background-color: var(--btn-back);
  color: var(--dark-grey-color);
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
  /* margin-right: 6rem; */
}
.form-control:focus {
  border-color: none;
  box-shadow: unset;
}
.icons i{
  font-size: 1.4rem;
  color: var(--grey-color);
  cursor: pointer;
}


/*=================================*/
.contact{
  margin-top: 5rem;
}
.contact .img{
  width: 100%;
  height: 310px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .8rem;
  object-fit: cover;
  border-radius: 29px;
  background-color: var(--btn-back);
}
.contact .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contact .all-input{
  padding-right: 1rem;
  /* width: 75%; */
  height: 90px;
  background-color: var(--white-color);
}

.contact .all-input .icon-contact{
  padding: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-black-color);
  color: var(--white-color);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  border-radius: 40px 40px 40px 0px;
}
.contact .all-input .icon-contact i{
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}
.contact .all-input  i{
  font-size: 24px;
}
.contact .all-input h5{
  font-size: 24px;
  color: var(--dark-black-color);
  font-weight: bold;
}
.contact .all-input a{
  font-size: 24px;
  color: var(--grey-color);
  font-weight: 500;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0rem;
}
.contact .social a i{
  font-size: 24px !important;
}

.profile{
  background-color: var(--white-color);
  border-radius: 13px;
  
}

.profile .nav{
  margin-bottom: 10rem !important;
}

.profile .nav-link {
  padding: .5rem .8rem .5rem 0  !important;
  color: var(--grey-color);
  font-size: 24px;
  font-weight: 500;
}
.profile .nav button{
  background-color: transparent;
  border: none;
  color: var(--grey-color);
  font-size: 20px;
  font-weight: 500;
  transition: .3s;
}

.profile .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--dark-black-color);
  background-color: transparent;
}
.personal-details input{
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 35px;
}

.personal-details .input{
  padding: .2rem !important;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 35px;
}

.personal-details .input input{
  opacity: 0;
}

.personal-details .form-control:focus {
  border-color: var(--dark-black-color) !important;
  box-shadow: unset;
}
.personal-details label{
  font-size: 20px;
  color: var(--dark-grey-color);
  font-weight: 500;
  margin-bottom: .7rem;
}
.personal-details .btn{
  padding: .8rem 6rem !important;
  border-radius: 35px !important;
  background-color: var(--dark-black-color);
  margin: 1rem 0 2rem 0;

}

.modal-header .btn-close {
  margin: unset;
}

.modal-content {
  background-color: var(--body-main-color);
}
.tab-pane .btn-primary{
  border: none;
  background-color: transparent;
  color: var(--dark-black-color);
  font-size: 24px;
}
.tab-pane .btn-primary:hover{
  background-color: transparent;
  color: var(--dark-black-color);
}

.tab-pane a{
  --bs-btn-padding-x: 0rem !important;
  border: none;
  background-color: transparent;
  color: var(--grey-color);
  font-size: 24px;
}
.tab-pane a.btn.active{
  color: var(--dark-black-color);
}
 .services .service{
  background-color: var(--white-color);
}
.tab-pane .services .service .img{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 .8rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--btn-back);
  outline: 5px solid var(--dark-grey-color);
}
.tab-pane .services .service .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.tab-pane .services .service h3{
  font-size: 20px;
  color: var(--dark-black-color);
  font-weight: bold;
}

.tab-pane .services .service h5{
  font-size: 18px;
  color: var(--dark-black-color);
}
 .btns .btn{
  --bs-btn-padding-x: 0 !important;
  border: none !important;
  background-color: transparent;
  color: var(--grey-color);
  font-size: 20px;
}
.btns .btn.stop{
  color: var(--dark-black-color);
}
.btns .btn.delt{
  color: red;
}

.main .content button.add-partner{
  --bs-btn-border-width: 0 !important ;
  background-color: var(--white-color);
  border-radius: 29px;
  font-size: 24px;
  padding: 0 1rem;
  font-weight: 500;
  transition: .3s;
}

.main .content button.add-partner:hover{
  background-color:var(--grey-color);
  color: var(--white-color);
}

.nav-partner{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  
}
.nav-partner a{
  color: var(--grey-color);
  font-size: 24px;
  font-weight: 500;
  padding-right: .5rem;
}
.nav-partner a.active{
  color: var(--dark-black-color);
  border-right: 5px solid var(--dark-black-color);
}

.all-cont-partner{
  background-color: var(--white-color);
  border-radius: 15px;
}
.all-cont-partner .partner-info{
  background-color: var(--body-main-color);
  border-radius: 15px;
  padding: 1.5rem 1rem;
}
.all-cont-partner .partner-info h3{
  font-size: 20px;
  font-weight: bold;
}
.all-cont-partner .partner-info a{
  color: var(--dark-black-color);
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline !important;
}

.all-cont-partner button{
font-size: 20px;
border: none;
}
.all-cont-partner button:active{
  border: none !important;
}
.all-cont-partner  .accept{
  color: green;
}
.all-cont-partner .accept:hover{
  color: green !important;
}
.all-cont-partner  .reject{
  color: red;
}
.all-cont-partner .reject:hover{
  color: red !important;
}

.main .container-fluid .card{
  border: none;
  border-radius: 15px;
  height: 100%;
}
.main .container-fluid .card .head h3{
  font-size: 24px;
  font-weight: bold;
  margin: 1rem 0 ;
}
.main .container-fluid .card .body h4{
  font-size: 20px;
}
.main .container-fluid .card .body .name ,
.main .container-fluid .card .body .area{
  width: 75%;
  background-color: var(--body-main-color);
  padding: .7rem 1rem;
  border-radius: 35px;
}
.main .container-fluid .card .body2{
  overflow: auto;
  height: 400px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-black-color);
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 12px;
}
































/*=======================================*/

/*media query*/
@media (max-width : 1440px){
  .navbar .all-cont form.form-control{
    margin-right: 12rem;
  }
}
@media (max-width : 1402px){
  .navbar .all-cont form.form-control{
    margin-right: 5rem;
  }
}
@media (max-width: 768px){

.login-beneficiary .input-group{
  width: unset !important;
}

.login-beneficiary .container .row{
  width: unset !important;
  margin: 3rem 0;
}
.login-beneficiary .container{
  width: 90%;
  height: auto;
}
.profile-photo {
  height: 330px;
  width: 300px;
  margin-bottom: 1rem;
}
nav.navbar .container-fluid{
  margin: 0 1.5rem;
}
.navbar-brand {
  font-size: 1.5rem;
}
.navbar .all-cont form.form-control{
  width: 100%;
    margin:1rem 0 1rem 0;
  }
  .main .content {
    margin: 0rem 0rem 0 0rem !important;
}
.container-fluid{
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
}
.content{
  margin-top: 30px;
}
.container .heading p{
  width: 100% !important;
}
.big-control{
  position: relative;
  width: 75% !important;
}
.controls{
  /* display: none !important; */
  height: 100vh !important;
  position: absolute;
  right: -100%;top: 0vh;
  width: 100% !important;
  transition: .3s;
}
.controls.active{
  right: 0 !important;
  transition: .3s;
}

.nav-pills .nav-link{
  display: flex;
  flex-direction: row;
}
.container .nav-link .img-cont {
  padding: 10px 10px;
}
.main .content .report .report-header .form-select {
  width: 35%;
}
.table>thead {
  vertical-align: middle;
}
.main .nav-search .content form{
  width: 100%;
  display: flex !important;
}
.contact .all-input {
  padding-right: .4rem;
  /* width: 100%; */
  height: 90px;
  background-color: var(--white-color);
}

.contact .all-input  i{
  font-size: 12px;
}
.contact .all-input h5{
  font-size: 16px;
  font-weight: 600;
}
.contact .all-input a{
  font-size: 16px;
  font-weight: 400;
}
.contact .img {
  width: 100%;
  height: 210px;
}
section.main .controls {
  width: 50% !important;
}

.tab-pane .services .service .details.gap-4{
gap: .7rem !important;
}
.tab-pane .services .service h5 {
  font-size: 18px !important;
}
.tab-pane .links.gap-5 {
  gap: 1rem !important;
}
.tab-pane a.btn{
  font-size: 20px;
}
.tab-pane .btns{
  display: flex;
  margin-top: 1rem;
}
.profile .nav-link {
  font-size: 20px;
}
}






@media (max-width: 425px){
  .select-user h1.logo{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.select-user .kind-user a.btn{
  font-size: 24px;
  padding: 1rem 2.5rem;
}
.login-beneficiary h2.logo {
  font-size: 3rem;
  margin-top: 3rem;
}
  .login-beneficiary .container{
    width: 90%;
    height: auto !important;
    /* margin: 3rem 0; */
  }
  .login-beneficiary .container .row{
    width: 100%;
    margin: 3rem 0;
  }
  .login-beneficiary .all{
    margin: 1rem 0;
  }
  .login-beneficiary .input-group {
    width: 100%;
}
  .profile-photo {
    height: 335px;
    margin-bottom: 1rem;
}
.for-photo{
  justify-content: center !important;
}
.sign-up .input-group{
  width: 100%;
}
nav.navbar .container-fluid{
  margin: 0 0rem;
}
.navbar .all-cont form.form-control{
width: 100%;
  margin:1rem 0 1rem 0;
}
section.main .controls .nav a {
  font-size: 20px;
}
section.login-dashboard ,
section.login-beneficiary{
    height: auto !important;
}
.table thead tr th {
  color: var(--dark-grey-color);
  font-size: 15px;
}
.icons{
  gap: 2rem !important;
}
.contact {
  margin-top: 0rem;
}
.contact .img {
  width: 70%;
  height: 230px;
  margin-left: 0;
}
section.main .controls {
  width: 85% !important;
}
.profile .nav {
  margin-bottom: 1rem !important;
}
.personal-details .btn{
  padding: .8rem 0rem !important;
  width: 100% !important;
}
.tab-pane .btns{
  width: 100% !important;
}
.profile .nav-link {
  font-size: 18px;
}
.main .container-fluid .card .body .name ,
.main .container-fluid .card .body .area{
  width: 50% !important;
}
}